.btn {
    border: 1px solid #ddd;
    padding: 5px;
}

.btn:hover:not([disabled]) {
    background: #222;
    color: #fff;
}

.btn:disabled {
    cursor: no-drop;
}

.correct {
    background-color: rgba(0, 128, 0, 0.672);
}

.incorrect {
    background-color: rgba(255, 0, 0, 0.637);
}