ul li {
    position: relative;
    padding: 12px 8px 12px 50px;
    cursor: pointer;
    list-style: none;
}
ul li::before{
    content: '';
    position: absolute;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    top: 12px;
    left: 8px;
}
ul li.checked{
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(images/checked.png);
}